# macOS
.DS_Store

# Python virtual env + cache
.venv/
__pycache__/
*.pyc

# Databases
*.db

# Jupyter (if you use it later)
.ipynb_checkpoints/

# PyCharm / JetBrains
.idea/
*.iml

# Local history (PyCharm plugin)
.history/

